/.venv
/.idea
/models/
docker-compose.yml
/experiments/
logs/drift_reports/
logs/
/analysis_data/
/data/
ml_core/__pycache__/
api/__pycache__/
api/routers/__pycache__/
frontend/node_modules
frontend/.env.example
frontend/package-lock.json
frontend/dist/*
.env.example
/.pre-commit-cache
htmlcov/*
.coverage
